body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 115, 0);
  }
  main{
    margin: 10px auto;
    width: 800px;
    display: flex;
    align-items: center;
  }

  /* .section1{
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    width: 50%;
    height: 50%;
    float: left;
  } */
  
  .section1 {
    padding: 0 10px 10px 10px;
    border-radius: 8px;
  }

  /* .section2 {
    margin-left: 900px;
    margin-top: 0px;
    width: 50%;
    height: 50%;   
  } */

  .section2 {
    width: auto;
    height: 480px;
    padding: 0 20px 0;
    display: flex;

  }

  h1 {
    text-align: center;
  }

  button{
    height: 130px;
    width: 130px;
    font-size: 40px;
    font-weight: bold;
  }

  button:hover{
    cursor: pointer;
  }

  .stadistics{
    border: 1px solid white;
    height: 50px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
  }
  footer{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 60%;
  }
 /* DISEÑO REPONSIVO */
  @media (max-width: 750px){
    main{
      display: flex;
      flex-direction: column;
      width: 350px;
      margin-right: 600px;
    }
    .section2{
      width: 70%;
      border-radius: 8px;
      align-items: center;
      margin-left: 150px;
    }
    h1 {
      margin-left: 130px;
    }
  }